.User {
    font-size: large;
}

.Transact {
    padding: 10px;
}

table{
	border: none;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
}
table thead{
    text-align: left;
    font-size: large;
    font-weight: bold;
}
table th {
	font-weight: bold;
	padding: 5px;
	background: #8040d9;
	border: 1px solid #dddddd;
}
table td{
	padding: 5px 10px;
	border: 2px solid #eee;
	text-align: center;
}
table tbody tr:nth-child(odd){
	background: #e399fe;
}
table tbody tr:nth-child(even){
	background: #89e69d;
}

button {
	appearance: none;
	border: 0;
	border-radius: 5px;
	background: #ff0000;
	color: #fff;
	padding: 8px 16px;
	font-size: 16px;
  }

button:hover {
	background: #980000;
  }
  
button:focus {
	outline: none;
	box-shadow: 0 0 0 4px #cbd6ee;
  }

  .text-field {
	margin-bottom: 1rem;
  }
  /* стили для label */
  .text-field__label {
	display: block;
	margin-bottom: 0.25rem;
  }
  /* стили для input */
  .text-field__input {
	display: block;
	width: 30%;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0.75rem;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #bdbdbd;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

.background {
	background-image: url("budget4.jpg");
 }